<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Mon super site de gossip, du dossier index !</h1>
    <a href="/gossips/new/">le texte du lien</a>
    <%#<%  te sert a executer du code(un .each par exemple)%>
		<%# <%= sert à afficher ce qui est entre balises %>
		<% Gossip.all.each do |gossip| %>
          <p>
            <%= gossip.author %><br/>
            <%= gossip.content %>
          </p>
    <% end %>
  </body>
</html>
